@import '../../../styles/Variable/index';

.wrapper {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  transition: all 0.3s;
  padding: 10px 0;
  box-shadow: 0 10px 10px #111;
  background-color: #1d1e20;
  z-index: 3;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
   
    svg {
      font-size: 3rem;
      color: white;
    }
  }

  .wrapper-search {
    height: 33px;
    width: 100%;
    margin-top: 40px;
    background-color: #555;
    @include flex(center, start, nowrap);
    padding: 0 10px;
    .icon-search {
      margin-right: 10px;
      svg {
        color: white;
        font-size: 2.4rem;
      }
    }

    .input-search {
      height: 100%;
      width: 100%;
      background-color: #555;
      color: #c6bbbb;
      font-size: 1.6rem;
    }
  }

  .wrapper-menu {
    margin-top: 10px;
    ul {
      li {
        @include flex(start, center, nowrap);
        flex-direction: column;
        a {
          font-size: 1.3rem;
          color: white;
          padding: 10px 20px;
          font-weight: 300;
          width: 100%;
          border-bottom: 0.2px solid rgb(49, 48, 48);
          text-transform: uppercase;
        }
      }
    }
  }
}

// Active Menu mobile

.active-menumb {
    left: 0;
}