@import '../../styles//Variable/index';

.wrapper {
    .pt {
        padding-top: 160px;
    }
    .pt {
        padding-bottom: 160px;
    }
    .title {
        font-size: 3.2rem;
        line-height: 34px;
        font-weight: 600;
        margin-bottom: 68px;
        @include tablet {
            font-size: 2.3rem;
        }
    }
    .button {
        button {
            min-width: 160px;
            letter-spacing: .5px;
            font-size: 1.3rem;
            padding: 10px 30px;
            border-width: 1px;
            background-color: #900;
            border-color: #900;
            color: #fff;
        }
    }
}